<div class="bg-white">
    <header class="absolute inset-x-0 top-0 z-50 ">
        <nav class="flex items-center justify-between p-6 lg:px-8">
            <div class="flex lg:flex-1">
                <img class="h-8 w-auto" src="../../../assets/PafosEngine.svg" alt="">
            </div>

            <div (click)="toggle()" class="flex lg:hidden">
                <button type="button" class="inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                  </svg>
                </button>
            </div>

            <div class="hidden lg:flex lg:gap-x-12">
                <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Product</a>
                <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
                <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Donate</a>
                <a href="#" class="text-sm font-semibold leading-6 text-gray-900">About</a>
            </div>
            <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Log in</a>
            </div>
        </nav>
        <div *ngIf="visible" class="flex">
            <div (click)="toggle()"[ngClass]="visible ? 'backdrop-blur-sm' : ''" class="fixed inset-0 z-50"></div>
            <div class="fixed inset-y-0 right-0 z-50 overflow-y-auto w-full bg-white sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                <div class="flex items-center justify-between p-6">
                    <img class="h-8 w-auto" src="../../../assets/PafosEngine.svg" alt="">
                    <button (click)="toggle()" type="button" class="rounded-md p-2.5 text-gray-700">
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="divide-y divide-gray-500/10">
                    <div class="flex flex-col space-y-2 p-3">
                        <a href="#" class="text-base pl-3 rounded-lg font-semibold leading-7 text-gray-900 hover:bg-gray-50">Product</a>
                        <a href="#" class="text-base pl-3 rounded-lg font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
                        <a href="#" class="text-base pl-3 rounded-lg font-semibold leading-7 text-gray-900 hover:bg-gray-50">Donate</a>
                        <a href="#" class="text-base pl-3 rounded-lg font-semibold leading-7 text-gray-900 hover:bg-gray-50">About</a>
                    </div>
                </div>
                <div class="p-3">
                    <a href="#" class="block pl-3 rounded-lg text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log in</a>
                </div>
            </div>
        </div>
    </header>
</div>